[Unit]
Description=Immich
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=root
Group=docker
WorkingDirectory=__INSTALL_DIR__/
ExecStart=/bin/bash -c "docker compose -f __INSTALL_DIR__/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f __INSTALL_DIR__/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target
